<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
      <h1>Aqui el listado de usuarios</h1>

      <div class = "container">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
                <% if (listadoVehiculos.length > 0) { %>

                    <% var cont = 0;
                       listadoVehiculos.forEach(user => {%>
                        <tr>
                            <th scope="row"><%= user.vehId %> </th>
                            <td><%= user.vehNom%></td>
                            <td><%= user.vehTipo%></td>
                            <section>
     <div class="imgBx">
         <img src="/img/login.jpeg">
     </div>
     <div class="contenBx">
         <div class="formBx">
             <h2>REGISTRO DE USUARIO</h2>
             <form action="../actualizar_vehiculo" id="forreg" name="forreg" method="post">
              <input  type="hidden" id="vehId" name="vehId" value="<%= user.vehId%>">
                 <div class="inputBx">
                     <span>Name</span>
                     <input type="text"name="vehNom"id="vehNom" value="<%= user.vehNom%>">
                 </div>
                 <div class="inputBx">
                    <span>Tipo</span>
                    <input type="text"name="vehTipo"id="vehTipo" value="<%= user.vehTipo%>">
                </div>

                <div class="inputBx">
                    <span>Matricula</span>
                    <input type="text"name="vehMatricula"id="vehMatricula"value="<%= user.vehMatricula%>">
                </div>

                <div class="inputBx">
                    <span>Capacidad</span>
                    <input type="text"name="vehCapacidad"id="vehCapacidad"value="<%= user.vehCapacidad%>">
                </div>


                <div class="inputBx">
                    <input type="submit" value="Sign in"name="">
                </div>

             </form>
             <h3>Login with social media</h3>
             <ul class="sci">
                 <li><img src="facebook.png"></li>
                 <li><img src="twitter.png"></li>
                 <li><img src="instagram.png"></li>
             </ul>
         </div>
     </div>
    </section>

                            <td>@mdo</td>
                        </tr>


                  <%cont++; }) %>
                <% } %>

            </tbody>
          </table>

</div>
</body>
</html>